
$app-bg: #fefefe;

:host {
  background-color: $app-bg;
  height: 100%;
  width: 100%;
  >div.container {
    height: 100%;
    width: 100%;
    display: flex;
    >div:first-child {
      flex: 1;
      // overflow: hidden;
      display: flex;
      flex-direction: column;
      >*:first-child {
        flex: 1;
      }
      >*:nth-child(2) {
        flex: 2;
      }
    }
    >div:nth-child(2) {
      flex: 2;
    }
  }
}
