<div>
  <table class="table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>BPM</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody *ngIf="!job">
      <tr *ngFor="let entry of placeholder; let i = index">
        <td>{{i + 1}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <tbody *ngIf="job">
      <tr *ngFor="let entry of job.entries; let i = index">
        <td>{{i + 1}}</td>
        <td>{{entry.name}}</td>
        <td>120</td>
        <td>{{entry.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
